@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'variables';
@import 'partials/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

// Barra decorativa blu on:hover
.border_b_dec {
    position: absolute;

    &:hover {
        border-bottom: 5px solid $blue_dc;
    }
}
// Barra decorativa blu ATTIVA
.border_b_dec.active {
    border-bottom: 5px solid $blue_dc;

    &:hover {
        border-bottom: null;
    }
}