@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);.blue_row {
  height: 30px;
  background-color: #0282f9;
  color: white;
}
.blue_row span {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 80px;
}
.blue_row > div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main_nav {
  height: 100px;
  background-color: burlywood;
  color: #464646;
}
.main_nav > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_nav > div img {
  height: 70px;
}
.main_nav ul, .main_nav li {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.main_nav ul {
  justify-content: space-between;
  padding: 5px 80px;
}
.main_nav li {
  position: relative;
  justify-content: center;
}
.main_nav li > span {
  height: 100%;
  width: 100%;
  position: absolute;
}
.main_nav li:hover span {
  border-bottom: 5px solid #0282f9;
}
.main_nav a {
  text-decoration: none;
  color: initial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  font-family: "Oswald", sans-serif;
}