.main_comics {
    position: relative;
    background-color: $main_black;
    color: white;
    padding: 50px 0;

    // Box contenente il titolo della pagina nel body
    .title_main {
        background-color: $blue_dc;
        padding: 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -26px;

        & h2 {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }


    .comic_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        & a, & a:link {
            text-decoration: none;
            color: white;
        }

        & .comic {
            width: calc(100% / 6);
            display: flex;
            flex-direction: column;
            & img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: top;
            }

            & h3 {
                font-weight: 300;
                font-size: 0.7rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                margin: 10px 0;
            }
        }
    }
}